.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000b15;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 75px 20px;
}

.App { 
  width: 375px;
  text-align: center;
  min-height: 100vh;
  background-color: #040B11;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 40px 20px;
  box-shadow: 0px 10px 9px 0px rgba(0,0,0,0.75);
  border-radius: 18px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  font-size: 18px;
  font-weight: 700;
}

.App-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  background-color: #040B11;
  border: none;
  color: #FFBE00;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 31px;
}

.App-nav {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

.App-nav .active {
  color: #FFBE00;
}

.App-nav a {
  color: white;
  text-decoration: none;
}
